{% extends "base.html" %}
{% load staticfiles %}
{% block page_content %}
<!DOCTYPE html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ STATIC_URL }}static/style.css">


<style>

    .links line {
      stroke: #999;
      stroke-opacity: 0.6;
    }
    
</style>

<div class="sidenav">
    <div class="search-container">
        <form method="POST" action="/">
            {% csrf_token %}
            <input type="text" id = 'search' name="search" placeholder="Search...">
            <button type="submit">Submit</button>
            <br>
            <input type="checkbox" id = "appears_on" name="options" value="2">
            <label for="appears_on">Include Songs the Artist Appears On</label>
            <br>
        </form>

        <form method="POST" action="/">
            {% csrf_token %}
            <button id='new_search' name='new_search' class="new_search" type="submit" hidden></button>
        </form>
        <audio controls id='play_preview' src=""></audio>
    </div>
</div>

<br>

<div style="text-align:center" class="svg_div">
    <svg width="1500" height="800"></svg>
</div>

<script src="https://d3js.org/d3.v4.min.js"></script>
{% autoescape off %}
<script type="text/javascript">

var svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height");

var radius = 15; 
var links = {{links}};
  
var nodes = {{nodes}};

var simulation = d3.forceSimulation()
    .nodes(nodes);

var link_force =  d3.forceLink(links)
    .id(function(d) { return d.id; })
    .distance(function(d) {return 100});            
         
var charge_force = d3.forceManyBody()
    .strength(function(d){
      var charge = -500;
      if (d.index === 0) charge = 10*charge;
      return charge;
    }); 

var center_force = d3.forceCenter(width / 2, height / 2);

simulation
    .force("charge_force", charge_force)
    .force("center_force", center_force)
    .force("links",link_force);

//add tick instructions: 
simulation.on("tick", tickActions );

//add encompassing group for the zoom 
var g = svg.append("g")
    .attr("class", "everything");

//draw links between nodes
var link = g.append("g")
    .attr("class", "links")
    .selectAll("line")
    .data(links)
    .enter().append("line")
    .attr("stroke-width", 2);

//draw nodes
var node = g.append("g")
.attr("class", "nodes") 
    .selectAll("circle")
    .data(nodes)
    .enter()
    .append("circle")
    .attr("r", radius)
    .attr("fill", circleColor)
    .attr("xlink:href", function (d) { return d.preview;} )
    .on("mouseover", handleMouseOver)
    .on("mouseout", handleMouseOut);


node.on('click', function(d) {
    document.getElementById('new_search').hidden = true
    document.getElementById('new_search').disabled = false
    document.getElementById('play_preview').src = ''

    if (d.type == 2 || d.type == 0) {
        document.getElementById('new_search').innerHTML = "Search for " + d.id
        document.getElementById('new_search').hidden = false
        document.getElementById('new_search').value = d.id
    } else {
        if (d.preview != 'None') {
            document.getElementById('play_preview').src = d.preview
            document.getElementById('new_search').innerHTML = "Play Preview for " + d.id
            document.getElementById('new_search').disabled = true
            document.getElementById('new_search').hidden = false
        } else {
            document.getElementById('play_preview').src = "https://p.scdn.co/mp3-preview/a69cabb16c6c3333db903d1f538e808493689e40?cid=6ce7c42a73ca48339295b6326ed6a165"
            document.getElementById('new_search').innerHTML = "Play Preview for " + d.id
            document.getElementById('new_search').disabled = true
            document.getElementById('new_search').hidden = false
        }
    }
});

//add labels 
/*
var text = g.append("g")
    .attr("class", "labels")
    .selectAll("g")
    .data(nodes)
    .enter().append("g")
    .append("text")
    .attr("x", 14)
    .attr("y", ".31em")
    .style("font-family", "sans-serif")
    .style("font-size", "0.7em")
    .style("visibility", "hidden")
    .text(function (d) { return d.id; });
*/
//add drag capabilities  
var drag_handler = d3.drag()
	.on("start", drag_start)
	.on("drag", drag_drag)
	.on("end", drag_end);

drag_handler(node);

//add zoom capabilities 
var zoom_handler = d3.zoom()
    .on("zoom", zoom_actions);

zoom_handler(svg);

function handleMouseOver(d) {
    //enlarge node
    d3.select(this).attr('r', radius*2);
    
    //display label
    var info = g.append('text')
        .attr("class", "info")
        .attr('x', d.x)
        .attr('y', d.y)
        .text(function () { return d.id; });

    //text.style("visibility", "visible");
}

function handleMouseOut(d) {
    //deflate node
    d3.select(this).attr('r', radius);

    //remove label
    svg.selectAll("text").remove();
}

function circleColor(d){
    switch (d.type) {
       case 0: return"#0046FF";
       break;

       case 1: return "green";
       break;

       case 2: return "#0093FF";
       break;

       default: return 'red';
    }
}

//Drag functions  
function drag_start(d) {
    if (!d3.event.active) simulation.alphaTarget(0.3).restart();
        d.fx = d.x;
        d.fy = d.y;
}

//make sure you can't drag the circle outside the box
function drag_drag(d) {
    d.fx = d3.event.x;
    d.fy = d3.event.y;
}

function drag_end(d) {
    if (!d3.event.active) simulation.alphaTarget(0);
        d.fx = null;
        d.fy = null;
}

//Zoom functions 
function zoom_actions(){
    g.attr("transform", d3.event.transform)
}

function tickActions() {
    
    //update circle positions each tick of the simulation 
    node
        .attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; });

    //update link positions 
    link
        .attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });
    
    //update label positions
    /*
    text
        .attr("transform", function (d) {
            return "translate(" + d.x + "," + d.y + ")";
        });
    */
}

</script>

{% endautoescape %}

{% endblock %}
